<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <%= image_tag("icon.png", class: "title") %> <span class="title">SYD Explorer</span>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
        <% if user_signed_in? %>
        <%= current_user.email %> <i class="material-icons" style="font-size: 15px">person_pin</i><br>
        <a href="/users/sign_out" data-method="delete" rel="nofollow">Log out</a>

          <!-- <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search events" name="q">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
          </form> -->
        <% end %>
      </div>
    </div>
  </div>
</div>
