<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <%= image_tag("icon.svg", class: "title") %> <span class="title">SYD Explorer</span>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
        <form class="navbar-form" role="search">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Search events" name="q">
              <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="navigation">
  <div class="container">
    <div class="menu-box text-center">
      <i class="material-icons">dashboard</i><br>
      Dashboard
    </div>
    <div class="vert-line">
    </div>
    <div class="menu-box text-center">
      <i class="material-icons">insert_invitation</i><br>
      Events
    </div>
    <div class="vert-line">
    </div>
    <div class="menu-box text-center">
      <i class="material-icons">face</i><br>
      Children
    </div>
    <div class="vert-line">
    </div>
    <div class="menu-box text-center">
      <i class="material-icons">card_giftcard</i><br>
      Prizes
    </div>
    <div class="vert-line">
    </div>
    <a href="/users/sign_out" data-method="delete" rel="nofollow">
      <div class="menu-box text-center">
        <i class="material-icons">exit_to_app</i><br>
        Logout
      </div>
    </a>
  </div>
</div>
