<div class="navigation">
  <div class="container">
    <a href="/">
      <div class="menu-box text-center">
        <i class="material-icons">dashboard</i><br>
        Dashboard
      </div>
    </a>
    <div class="vert-line">
    </div>
    <div class="menu-box text-center">
      <i class="material-icons">insert_invitation</i><br>
      Events
    </div>
    <div class="vert-line">
    </div>
    <div class="menu-box text-center">
      <i class="material-icons">face</i><br>
      Children
    </div>
    <div class="vert-line">
    </div>
    <div class="menu-box text-center">
      <i class="material-icons">card_giftcard</i><br>
      Prizes
    </div>
    <div class="vert-line">
    </div>
    <a href="/users/sign_out" data-method="delete" rel="nofollow">
      <div class="menu-box text-center">
        <i class="material-icons">exit_to_app</i><br>
        Logout
      </div>
    </a>
  </div>
</div>
