<div class="grid-stack-item"
    data-gs-x=<%= @dashboard_grid[@index]["x"] %> data-gs-y=<%= @dashboard_grid[@index]["y"] %>
    data-gs-width=<%= @dashboard_grid[@index]["width"] %> data-gs-height=<%= @dashboard_grid[@index]["height"] %> data-custom-id="event_attendance_history">
  <div class="grid-stack-item-content">
    <div class="title">
      <i class="material-icons">insert_invitation</i> Event attendance history
    </div>
    <div class="content">
      <canvas id="myChart2" width="400" height="150"></canvas>
    </div>
  </div>
</div>
