<style media="screen">
  #map {
    height: 340px;
    border-width: 1px;
    border-color: #CACACA;
    border-style: solid;
    border-radius: 5px;
  }
</style>

<div class="grid-stack-item"
data-gs-x=<%= @dashboard_grid[@index]["x"] %> data-gs-y=<%= @dashboard_grid[@index]["y"] %>
data-gs-width=<%= @dashboard_grid[@index]["width"] %> data-gs-height=<%= @dashboard_grid[@index]["height"] %> data-custom-id="map" data-gs-no-resize="yes">

  <div class="grid-stack-item-content">
    <div class="title">
      <i class="material-icons">map</i> Explorer map<span style="float: right;"><i class="material-icons">zoom_out_map</i></span>
    </div>
    <div class="content">
      <div id="map"></div>
    </div>
  </div>

</div>
