<div class="grid-stack-item"
    data-gs-x=<%= @dashboard_grid[@index]["x"] %> data-gs-y=<%= @dashboard_grid[@index]["y"] %>
    data-gs-width=<%= @dashboard_grid[@index]["width"] %> data-gs-height=<%= @dashboard_grid[@index]["height"] %> data-custom-id="today">
  <div class="grid-stack-item-content">
    <div class="title">
      <i class="material-icons">directions_run</i> What's on today
    </div>
    <div class="content">
      You have no events on today.
    </div>
  </div>
</div>
