/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 /*
  *= require jquery-ui
  */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import 'tipped.css';
@import 'slick';
@import 'jquery.mCustomScrollbar';

@font-face {
 font-family: 'Eraser';
 font-weight: normal;
 font-style: normal;
 src: font-url('Eraser.ttf') format('truetype');
}

// background color
body {
  font-family: 'Pangolin', cursive;
  background-color: #FFD67F;
  max-width: 100%;
  overflow-x: hidden;
}

.gap {
  height: 30px;
}

// header styling
.header {
 color: white;
 height: 100%;
 background-color: #FFA6A4;
 width: 100%;
 border-width: 0px 0px 1px 0px;
 border-style: solid;
 border-color: #DA8F8D;
 .title {
   font-family: 'Eraser';
   font-size: 25px;
   padding-left: 5px;

 }
 img {
   height: 32px;
   padding-bottom: 10px;
 }
}

.navbar-form {
  .form-control {
    height: 23px;
  }
  .btn {
    height: 23px;
    padding-top: 3px;
    padding-bottom: 0px;
  }
  .glyphicon {
    font-size: 15px;
  }
}

// navbar styling
.navigation {
 background-color: white;
 height: 63px;
 width: 100%;
 border-width: 0px 0px 1px 0px;
 border-color: #C0C0C0;
 border-style: solid;
 a {
   color: #5F5E5F;
   &:hover {
     color: white;
     text-decoration: none;
   }
 }
}



.navigation {
  .btn {
    width: 80px;
    border-top: 0px;
    padding: 6px 0px;
  }
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0px;
  }
  .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-radius: 0px;
  }
}

.mini-navigation {
  background-color: white;
  height: 43px;
  width: 100%;
  border-width: 0px 0px 1px 0px;
  border-color: #C0C0C0;
  border-style: solid;
  overflow: hidden;
  position: relative;
  .btn-group > .btn:first-child {
    height: 42px;
    border-radius: 0px;
    border-width: 0px;
  }
}

.menu-dropdown {
  background-color: white;
  width: 100%;
  border-style: solid;
  border-color: #C0C0C0;
  border-width: 0px 0px 1px 0px;
  .item {
    .material-icons {
      font-size: 13px;
    }
    padding: 10px 20px;
    width: 100%;
    &:hover {
      background-color: #C0C0C0;
    }
  }
  a {
    color: #5F5E5F;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

// login and signup pages
.flexbox-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;

  height: 100vh;
}

.box-frame {
  width: 100%;
  color: white;
  text-align: center;
  .title {
    font-family: 'Eraser'
  }
  img {
    height: 80px;
  }
}

.box {
  padding: 30px;
  width: 100%;

  .upper {
    color: white;
    background-color: #FFA6A4;
    border-radius: 5px 5px 0px 0px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #DA8F8D;
    border-bottom-color: #A9A9A9;
    padding: 10px 20px;
  }

  .lower {
    color: white;
    background-color: #7AD6FD;
    border-radius: 0px 0px 5px 5px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #6CBEE0;
    padding: 10px 20px;

    ul {
      text-align: left;
      list-style-type: none;
    }

    .dates {
      color: black;
    }

    // color of the other month's dates on datepicker
    .bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
      color: grey;
    }
  }

  .form-control {
    height: 45px;
    border-width: 0px;
  }

  .btn {
    background-color: #FFD67F;
    width: 50%;
    border: solid 1px #D9B86C;
    &:hover {
      color: grey;
    }
  }
}

// Switch field
.switch-field {
  overflow: hidden;
}
.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 50%;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 13px 0px;
  border: 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  color: white;
  background-color: #FF7C79;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

// Panel contents
.panel {
  border-width: 0px;
  border-radius: 5px;
  color: #5F5E5F;
  .icons {
    height: 25px;
  }
  th {
    background-color: #F5F5F5;
    color: #424242;
  }
  .material-icons {
    font-size: 18px;
  }
  .blue {
    color: #7AD6FD;
    padding: 2px;
    &:hover {
      color: white;
      background-color: #7AD6FD;
      border-radius: 3px;

    }
  }
  .yellow {
    color: #EFC677;
    padding: 2px;
    &:hover {
      color: white;
      background-color: #EFC677;
      border-radius: 3px;
    }
  }
  .red {
    color: #FFA6A4;
    padding: 2px;
    &:hover {
      color: white;
      background-color: #FFA6A4;
      border-radius: 3px;
    }
  }
  .panel-heading {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #6BBCDE;
    color: white;
    background-color: #7AD6FD;
    border-radius: 5px 5px 0px 0px;
  }

  .panel-body {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #CACACA;
    border-radius: 0px 0px 5px 5px;
  }

  .panel-title {
    .material-icons {
      color: #0D99FC;
      font-size: 13px;
    }
  }
  .character {
    height: 50px;
  }
}

.panel-title {
  .material-icons {

  }
}

//Dashboard grid stack
.grid-stack-item-content {

  .title {
    font-size: 16px;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #6BBCDE;
    color: white;
    background-color: #7AD6FD;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 15px;
    .material-icons {
      color: #0D99FC;
      font-size: 13px;
    }
  }
  .content {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #CACACA;
    border-radius: 0px 0px 5px 5px;
    padding: 10px 15px;
    background-color: white;
    overflow-y: auto;
    height: 100%;
    color: #5F5E5F;
    .icons {
      height: 25px;
    }
    th {
      background-color: #F5F5F5;
      color: #424242;
    }
    .material-icons {
      font-size: 18px;
    }
    .blue {
      color: #7AD6FD;
      padding: 2px;
      &:hover {
        color: white;
        background-color: #7AD6FD;
        border-radius: 3px;

      }
    }
    .yellow {
      color: #EFC677;
      padding: 2px;
      &:hover {
        color: white;
        background-color: #EFC677;
        border-radius: 3px;
      }
    }
    .red {
      color: #FFA6A4;
      padding: 2px;
      &:hover {
        color: white;
        background-color: #FFA6A4;
        border-radius: 3px;
      }
    }
  }
}



// Google maps
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}


// Progress bars with centered text
.progress {
    position: relative;
}

.progress span {
  position: absolute;
  display: block;
  width: 100%;
  .blue {
    color: #A4DCED;
  }
  .yellow {
    color: #FFD37F;
  }
 }

 // Events display page
 .events-thumbnail {
   height: 200px;
   border-radius: 5px;
   border-width: 1px;
   border-color: #C0C0C0;
   border-style: solid;
   background-image: image-url("blank.png");
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

 .events-content {
   p {
     word-wrap: break-word;
   }
   height: 200px;
   color: #929292;
   .material-icons {
     color: #424242;
     font-size: 11px;
     padding: 2px;
     &:hover {
       color: white;
       background-color: #424242;
       border-radius: 3px;

     }
   }
   h3 {
     color: #424242;
   }
   a {
     color: white;
   }
   .btn {
     background-color: #FFA6A4;
     border: solid 1px #E0908F;
     width: 50%;
     &:hover {
       color: grey;
     }
   }
 }

// Make invisible buttons for admin-form
 .admin-form {
   .btn {
     background: transparent; border: none; padding: 0;
   }
   form {
        display:inline;
        margin:0px;
        padding:0px;
   }
   p {
      margin-top: 3px;
   }
 }

// Filter table styling
table#example.dataTable {
 tbody tr {
   background-color: transparent;
 }
 thead th {
   border-width: 0px;
   background-color: transparent;
 }
}
table#example.dataTable.no-footer {
 border-width: 0px;
}

table#example {
 table-layout: fixed;
 border-collapse:collapse;
}

.search {
  label {
    color: #5E5E5F;
  }

  input {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #929292;
    padding: 3px 7px;
    height: 20px;
    width: 130px;
  }
}
table#example_info.dataTables_info {
  color: #5E5E5F;
}
